node_modules
build
dist
coverage/
.DS_Store
**/.DS_Store
DatosBLE.db
.env
wifimonit.log
DatosBLE.db-journal
DatosBLE_old.db
Sniffer-Wifi.db
Sniffer-Wifi.db-journal
Sniffer-Wifi_old.db
core
*.db
/databases

